@charset "utf-8";
/* CSS Document */

/*common_style  overflow-y:hidden;*/
body {
	background:#FFF;
	font-size:14px;
	color:#676464;
	font-family:Arial, Helvetica, sans-serif;
}
* {
	padding:0px;
	margin:0px;
}
.clear {
	clear:both;height:1px; font-size:0px;
}
li {
	list-style:none;
}
img {
	border:0px;
}
a {
	text-decoration:none;
	color:#676464;
}
h1 {
}
h2 {
}
h3 {
}
h4 {
	font-weight:normal;
}

#easy_popup_content{ border:#21759B solid  4px;}

/*common_style  END
*/








#all{
	width:980px;
	margin:0px auto;
	padding:0px 4px;
	background:url(../images/all_bg.gif) center repeat-y
}
/*======head   style=====*/
#head {
	width:980px;
	height:80px;
	line-height:80px;
	background:#535252;
	margin-bottom:20px;
}
#logo {
	float:left;
	margin:10px 10px 0px 20px;
}
#site_info {
	float:left;
	color:#FFF;
	font-weight:bold;
	font-size:15px;
	padding-top:10px;
}
#user_info span {
	float:left;
	display:block;
	font-size:13px;
	height:40px;
	width:250px;
	text-align:center;
	line-height:40px;
	margin-left:200px;
	margin-top:40px;
	color:#FFF;
}
#user_info a {
	text-decoration:underline;
	color:#FFF;
	padding:5px;
}
#fast_function {
	padding-top:45px;
}
*+html #fast_function {
	padding-top:20px;
}
#fast_function ul {
}
#fast_function ul li {
	position:relative;
	height:29px;
	width:120px;
}
#fast_function ul li a {
	background:#7C7C7C;
	color:#DDDDDD;
	text-align:left;
}
#fast_function .nav_now_title span {
	float:left;
	width:34px;
	display:block;
	height:29px;
	margin-top:0px;
	background:url(../images/menu-bits.gif) 6px 173px;
}
#help {
	float:left;
	height:24px;
	line-height:24px;
	width:48px;
	margin-top:3px;
	margin-left:30px;
	background:url(../images/help_bg.gif) bottom center;
}
*+html #help {
	margin-top:26px;
}
#help a {
	color: #333;
	font-size:13px;
}
/*==========================*/



/*======left  nav   style=====*/
#navbar {
	float:left;
	width:145px;
	margin:0px 15px!important;
	margin:0px 15px 0px 7px;
}
.nav_now {
	float:left;
	margin:0px;

}
.nav_now li {
	text-align:center;
	background:url(../images/menu-bits.gif) left top repeat-x;
}
.nav_now li a {
	width:145px;
	height:24px;
	line-height:24px;
	font-size:13px;
	text-align:left;
	color:#21759B;
	display:block;
}
.nav_now .class1content a:hover {
	background: url(../images/now_link_hover.gif) center repeat-y;
	color:#2E2E2E;
}
.nav_now .nav_now_title {
	display:block;
	color:#FFF;
	height:29px;
	line-height:30px;
	padding:2 0px;
	font-size:14px;
}
#navbar .nav_now_title:hover {
	color:#FFF;
}
.nav_now .nav_now_title font {
	float:left;
	margin-left:45px;
	margin-right:10px;
	font-size:14px;
	cursor:pointer;
}
.nav_now .nav_now_title span {
	float:left;
	width:34px;
	display:block;
	height:29px;
	margin-top:0px;
	background:url(../images/menu-bits.gif) 6px 154px;
	cursor:pointer;
}
.class1content {
	float:left;
	height:auto;
	overflow:hidden;
	background: url(../images/now_p_bg.gif) center top repeat-y;
	border-bottom:#AAAAAA solid 1px;
	margin-top:-1px!important;
	margin-top:-3px;
	padding-top:6px;
	padding-bottom:6px;
}
#navbar .class1content a {
	text-align:left;
	width:120px;
	padding-left:25px;
}
#navbar .separate_char {
	float:left;
	height:20px;
	width:145px;
	background: url(../images/separate_char.gif) center no-repeat;
	margin:4px 0px;
}
#navbar .separate_border {
	float:left;
	height:2px;
	font-size:0px;
	width:145px;
	background:#ACACAC;
}
.nav_now .nav_now_link {
	font-weight:bold;
	color:#181818;
	background: url(../images/now_link_bg.gif) center repeat-y;
}

.nav_title{*margin:-1px 0px;}
.nav_title li {
	background:url(../images/other_nav.gif) top center no-repeat;
	margin:1px 0px;
}
.nav_title .class1content {
	background: url(../images/other_nav_p_bg.gif) center top repeat-y;
	border-bottom:#E3E3E3 solid 1px;
}
.nav_title li a font {
	color:#464646;
}
.nav_title li a:hover font {
	color:#336799;
}
.nav_title .nav_now_title span {
	float:left;
	width:34px;
	display:block;
	height:29px;
	margin-top:0px;
	background:url(../images/menu-bits.gif) 6px 272px;
}
.nav_title .class1content a:hover {
	background: url(../images/other_link_hover.gif) center repeat-y;
}
.copyright {
	float:left!important;
	float: none;
	width:145px;
	font-size:12px;
	line-height:20px;
	background:#717171;
	color:#FFF;
	text-align:center;
	margin-top:10px!important;
	margin-top:5px;
	padding:0px 0px;
}
.copyright div {
	background: url(../images/navbar_boot.gif) center bottom no-repeat;
	padding:5px 0px;
}
.copyright a {
	color:#FFF;
}
.copyright a:hover {
	text-decoration:underline
}
/*==============================*/



/*======head  fast  function    style=====*/
#head #fast_function .nav_now_title {
	text-align:left;
	background:url(../images/menu-bits.gif) 6px 173px no-repeat;
}
#head #fast_function .nav_now_title font {
	font-size:13px;
	text-align: center;
	margin-left:6px;
	width:70px;
}
#head #fast_function p {
	background:#7C7C7C;
	position:absolute;
	top:28px;
	left:0px;
}
#fast_function ul li a {
	width:120px;
}
#fast_function ul li a:hover {
	color:#FFF;
}
#fast_function #class1content0 a {
	text-align:center
}
/*==============================*/




/*======   ++++++++++++++++++++++MAIN    style++++++++++++++++++++++=====*/
#main {
	float:left;
	width:790px;
}
/*====== main_head    style=====*/
#main_head {
	height:40px;
	line-height:40px;
	margin-bottom:12px;}
#main_head  .control_logo{margin-left:5px;}

#main_head h1 {
	float:left;
	font-weight:normal;
	font-size:26px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	margin-left:10px!important;
	margin-left:5px;
	color:#777777
}
#main_head img {
	float:left;
}
#news {
	float:left;
	width:625px;
	height:40px;
	line-height:40px;
	overflow:hidden;
}
#news img {
	float:left;
	margin:5px 5px 0px 30px;
}
#news font {
	float:left;
	font-weight:bold;
	color:#336799;
	font-size:13px;
}
#news_list {
	float:left;
	width:480px;
	height:37px;
	line-height:37px;
	overflow:hidden;
}
#news_list span {
	color:#336799;
}
#news_list ul li {
	float:left;
	width:480px;
	height:37px;
	line-height:37px;
}
#news_list a {
	padding:0px;
	margin:0px;
	font-size:13px;
	color:#336799;
	margin-left:10px;
}
/*========================*/



/*====== main_left    style=====*/
#main_left {
	float:left;
	width:490px;
}
/*======common style=====*/
.content_block {
}
.content_block_title {
	float:left;
	height:24px;
	line-height:24px;
	color:#464646;
	font-weight:bold;
	font-size:13px;
	padding-left:15px;
	border:#DFDFDF 1px solid;
	background:url(../images/block_title_bg.gif) left center repeat-x;
}
.content_block_main {
	float:left;
	border:#DFDFDF 1px solid;
}
/*======================*/



#main_left .content_block {
	width:489px;
	font-size:13px;
}
#main_left .content_block_title {
	width:473px;
}
#main_left .content_block_main {
	width:488px;
}
.emotion_publish {
	margin-bottom:12px;
}
.emotion_publish .content_block_main {
	padding-bottom:10px;
}
.emotion_publish form {
	float:left;
	width:488px;
	position:relative;
}
.emotion_publish .emotion_input {
	float:left;
	border:medium none;
	border-collapse:collapse;
	empty-cells:show;
	outline-color:invert;
	outline-style:none;
	overflow-y: auto;
	overflow-x:hidden;
	border:1px solid #B6D5E2;
	margin:15px 25px 10px 15px;
	padding:5px 0px 0px 5px;
	font-size:13px;
	height:53px;
	width:365px;
	background:#F8F8F8;
	color:#ACACAC;
}
.emotion_publish input {
	float:left;
	margin-top:15px;
}
.emotion_publish span {
	display:block;
	float:left;
	width:488px;
}
.emotion_publish span input {
	margin:0px 20px 0px 15px;
	vertical-align:middle;
*margin-top:-4px;
}
.emotion_publish span label {
	float:left;
	vertical-align:middle;
}
#tips {

	width:240px;
	height:20px;
	margin-left:100px;
*margin-left:90px;
	font-size:13px;
}
#tips em {
	PADDING-BOTTOM: 0px;
	FONT-STYLE: normal;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	COLOR:#296FAB;
	FONT-WEIGHT: bolder;
	PADDING-TOP: 0px
}
#emotion_img_box {
	float:left;
	width:250px;
	display:none;
	line-height:18px;
	padding:2px;
	z-index:20;
	position:absolute;
	top:70px;
	left:18px;
	background:#FFF;
	border:#999999 solid 1px;
}
#emotion_img_box img {
	float:left;
	margin:3px;
	cursor:hand;
	border:#FFF 1px solid;
}
#emotion_img_box img:hover {
	border:#000 1px solid;
}
/*======common style=====*/
.latest_act .content_block_main {
	margin-bottom:12px;
	padding-top:6px;
}
/*======================*/

.latest_act ul li {
	float: left;
	width:468px;
	padding:10px 10px 0px 10px;
}
.latest_act ul li span {
	float: left;
	display:block;
	width:363px;
	font-size:12px;
	padding:3px 0px;
	background-repeat:no-repeat;
	background-position:  left center;
}
.latest_act ul li span a {
	color:#21759B;
	margin-right:10px;
}
.latest_act ul li span font {
	padding:0px 4px;
	margin-left:10px;
	font-size:12px;
}
.latest_act .act_content {
	float:left;
	display:block;
	width:382px;
	font-size:12px;
	line-height:18px;
	padding:5px 0px 10px 19px;
}
.latest_act .act_content h3 a {
	color:#21759B;
	font-size:12px;
	margin-bottom:4px;
}
.latest_act a:hover {
	text-decoration:underline;
}
.friend_head_pic img {
	float:left;
	padding:4px;
	border:#DCDCDC 1px solid;
	margin-right:8px;
}
.friend_head_pic:hover img {
	border:#ACACAC 1px solid;
}
.sep_border {
	float:left;
	width:467px;
	border-bottom:#A8C5D0 dashed 1px;
	font-size:0px;
	height:1px;
	margin:6px 0px 4px 0px;
}
.act_content_img img {
	padding:4px;
	border:#DCDCDC 1px solid;
}
.act_content_img:hover img {
	border:#ACACAC 1px solid;
}
.act_content_emotion_img {
	margin-bottom:-5px;
	padding:0px 2px;
}
.more a {
	color:#21759B;
	margin-right:10px;
	font-size:12px;
}
.more {
	text-align:right;
	color:#21759B;
	margin:12px 0px;
	margin-bottom:16px;
	width:488px;
	float:left;
}
.friend_list .content_block_main a {
	float:left;
	width:50px;
	height:70px;
	padding:5px;
	margin:4px!important;
	margin:0px;
}
.friend_list .content_block_main a:hover {
	color:#21759B
}
.friend_list .content_block_main a font {
	float:left;
	font-size:12px;
	text-align:center;
}
.friend_list .content_block_main a img {
	padding:4px;
	border:#DCDCDC 1px solid;
	margin-bottom:4px;
}
.friend_list .content_block_main a:hover img {
	border:#9DC3D1 1px solid;
	background:#FBF8EF
}
.friend_list .content_block_main {
	padding-bottom:20px;
}
.content_block_title a {
	font-weight:normal;
	font-size:14px;
	margin-right:0px;
}
.content_block_title b {
	display:block;
	float:left;
	width:100px;
	margin-right:320px!important;
	margin-right:160px
}
/*====================+++++++++++++++++++++++++++========================*/



/*====== +++++++++++++++++++main_right    style++++++++++++++++++++++=====*/

#main_right {
	float:left;
	width:285px;
	margin-left:15px;
	font-size:12px;
}
#main_right a:hover {
	text-decoration:underline;
}
.latest_visitor {
}
#main_right .content_block {
	width:285px;
	font-size:12px;
}
#main_right .content_block_title {
	width:268px;
}
#main_right .content_block_main {
	width:263px;
}
.admin_info {
	margin-bottom:12px;
}
.admin_info .content_block_main {
	padding:10px 10px;
	width:285px;
	padding-bottom:14px;
}
.admin_info .content_block_main span {
	display:block;
	float:left;
	width:160px;
	margin-left:10px!important;
	margin-left:5px;
}
.admin_info .content_block_main a {
	font-size:12px;
	color:#21759B;
	text-align:center;
}
.admin_info .content_block_main a img {
	padding:4px;
	border:#DCDCDC 1px solid;
	margin-bottom:4px;
}
.admin_info .content_block_main font {
	font-size:12px;
	line-height:20px;
	color:#21759B;
}
.love_act {
	position:relative
}
.love_act .content_block_main {
	padding:10px 10px;
}
#ScroRight1, #ScroRight2, #ScroRight3 {
	position:absolute;
	right:0px;
	top:50px;
	width:10px;
	height:100px;
	background:#E6E6E6;
	overflow:hidden;
}
#ScroLeft1, #ScroLeft2, #ScroLeft3 {
	height:200px;
	overflow:hidden;
}
/*#ScroRight{position:relative;height:100%;width:10px;background:#F1F1F1;overflow:hidden;}*/
/*滚动条*/
#ScroLine1, #ScroLine2, #ScroLine3 {
	position:absolute;
	z-index:20;
	top:0px;
	left:0px;
	width:100%;
	height:20px;
	overflow:hidden;
	background:#666666
}
.love_act ul li {
	float:left;
	width:263px;
	padding:4px 0px 4px 0px;
	height:18px;
	line-height:18px;
	border-bottom:#ECECEC solid 1px;
}
.love_act ul li img {
	float:left;
	margin-bottom:-2px;
	margin-right:10px!important;
	margin-right:5px;
}
.love_act ul li a {
	float:left;
	color:#8E8E8E;
	font-size:12px;
	display:block;
	width:145px;
	font-family: Arial, Helvetica, sans-serif
}
.love_act ul li a:hover {
	text-decoration:underline;
	color:#575757
}
.love_act ul li a b {
	font-weight:normal;
	color:#21759B;
}
.love_act ul li font {
	font-size:12px;
	color:#8E8E8E;
	font-family: Arial, Helvetica, sans-serif
}
.love_act .more {
	width:263px;
	margin-bottom:5px;
}
.rapid_read {
	margin-bottom:12px;
	position:relative;
	zoom:1;
}
/*.rapid_read  .content_block_main{ height:200px; overflow-y:auto; overflow-x:hidden;}*/
.rapid_read ul li {
	padding:5px 0px 5px 0px;
}
.rapid_read ul li a {
	width:160px;
}
.rapid_read .more {
	width:263px;
	margin-bottom:5px;
}
.rapid_read .more a:hover {
	text-decoration:underline;
}
.latest_visitor {
	margin-top:12px;
	position:relative;
}
.latest_visitor li {
	float:left;
	width:263px!important;
	width:243px;
	margin:5px 10px;
*margin:5px 5px;
*padding-bottom:4px;
	border-bottom:#ECECEC 1px solid;
}
.latest_visitor a img {
	float:left;
	padding:4px;
	margin-right:5px;
	border:#DCDCDC 1px solid;
	margin-bottom:4px;
}
#main_right .latest_visitor .content_block_main {
	width:283px;
	padding-top:10px;
*padding-bottom:15px;
}
.latest_visitor a {
	margin-right:5px;
	color:#21759B
}
.latest_visitor font {
	color:#8E8E8E;
	line-height:18px;
	font-family: Arial, Helvetica, sans-serifl;
	font-size:12px;
}
.latest_visitor .more {
	width:263px;
	margin-bottom:15px;
	margin-left:10px!important;
	margin-left:5px;
}
/*========================++++++++++++++++++++++++++++++++++++++++=======*/







/*========================common  tool bar  and  act  background_img=======*/
.user_center li .nav_now_title {
	background:url(../images/navbar_usercenter_bg.gif)
}
.user_emotion li .nav_now_title, .act_emotion {
	background:url(../images/user_emotion.gif)
}
.user_self_info li .nav_now_title {
	background:url(../images/user_info.gif)
}

.user_article li .nav_now_title, .act_article {
	background:url(../images/user_article.gif)
}
.user_album li .nav_now_title, .act_pic {
	background:url(../images/user_pic.gif)
}

.user_music li .nav_now_title, .act_music {
	background:url(../images/user_music.gif)
}
.user_resource li .nav_now_title, .act_resource {
	background:url(../images/user_resource.gif)
}
.user_collect li .nav_now_title, .act_collect {
	background:url(../images/user_collect.gif)
}
.user_guestbook li .nav_now_title {
	background:url(../images/user_guestbook.gif)
}
.user_lover li .nav_now_title {
	background:url(../images/user_love.gif)
}
.user_visitor li .nav_now_title {
	background:url(../images/user_visitor.gif)
}
.user_friend li .nav_now_title {
	background:url(../images/user_friend.gif)
}
.user_class li .nav_now_title {
	background:url(../images/user_class.gif)
}
.user_file li .nav_now_title {
	background:url(../images/user_file.gif)
}
.user_safe li .nav_now_title {
	background:url(../images/user_safe.gif)
}
.user_system li .nav_now_title {
	background:url(../images/user_system.gif)
}
#navbar li .nav_now_title, .act_emotion {
	background-position:10px center;
	background-repeat:no-repeat;
}
/*========================++++++++++++++++++++++++++++++++++++++++=======*/




#foot {

	float:left;
	height:70px;
	width:980px;
	margin-top:100px;
	margin-bottom:10px!important;
	margin-bottom:0px;
	background:#535252
}
#foot center, #foot center a {
	font-size:13px;
	color:#FFF;
	margin-top:20px;
}
#foot center a:hover {
	color:#FFC791;
	text-decoration:underline;
}


.ie6_bug_ul{
	 display:none!important;
	 display:block;
	 }









#body_cover{
	background:#000;
    display:none;
	height:1000px;
	width:100%;
    position:absolute;
	top:0px;
	left:0px;
	filter:alpha(opacity=20);
	opacity: .20;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	}

#reminder{
	width:400px;
    position:absolute;
	top:20%;
	left:36%;
	_margin-top:100px;
	background:#DDDDDD;
	border:solid  #FFFFFF   10px;
	}

#reminder_close{
	position:absolute;
	top:-20px;
	right:-20px;
	}

#reminder_close  img{ border:0px;}
#reminder_content{
	color:#676464;
	font-size:13px;
	text-align:center;
	 width:340px;
	 background:#fff;
	 margin:20px;
	 padding:10px;


	}






/*=======================================================================*/

/* clearfix */

	.inner:after, .content:after, .cols:after, .grid:after, .fixed:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.inner, .content, .cols, .grid .fixed {
	display:block;
	min-height:1%;
}
* html .inner, * html .content, * html .cols, * html .grid, * html .fixed {
	height:1%;
}
/* // clearfix */

/* easy elements */

	#easy_tooltip {
	border:1px solid #e1e1e1;
	padding:2px 10px;
	background:#f5f5f5;
}
#easy_tooltip span {
} /* extra element */
#easy_popup { /* popup overlay */
	background:#000;

}
#easy_popup_preloader { /* popup preloader */
	padding:10px;
	background:#fff;
	color:#333;
}
#easy_popup_content { /* popup window */
	padding:10px;
	background:#fff;
	color:#333;
}
#easy_popup_content .caption {
	padding-top:10px;
}
#easy_popup_close { /* popup close button */
	position:absolute;
	float:left;
	left:0;
	top:-24px;
	color:#fff;
	cursor:pointer;
}
#easy_popup_gallery { /* popup gallery navigation */
	position:absolute;
	float:left;
	left:0;
	bottom:-24px;
	color:#fff;
	cursor:pointer;
}
#easy_popup_prev {
	margin-right:5px;
}
#easy_popup_next {
}
#easy_popup_counter { /* popup gallery counter */
	position:absolute;
	float:left;
	right:0;
	bottom:-24px;
	color:#fff;
	cursor:pointer;
}

/* // easy elements */


/*=======================================================================*/




/*================PAGE  CLASS=========================================*/
DIV.sabrosus {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: left
}
DIV.sabrosus A {
	BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9aafe5 1px solid; COLOR: #2e6ab1; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
DIV.sabrosus A:hover {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.pagination A:active {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.sabrosus SPAN.current {
	BORDER-RIGHT: navy 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: navy 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: navy 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #2e6ab1
}
DIV.sabrosus SPAN.disabled {
	BORDER-RIGHT: #929292 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #929292 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #929292 1px solid; COLOR: #929292; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #929292 1px solid
}

/*=======================================================================*/